/Template/x64
/Template/Debug
/Template/.vs

/Triangle/x64
/Triangle/Debug
/Triangle/.vs

/Translação/x64
/Translação/Debug
/Translação/.vs

/Shader/x64
/Shader/Debug
/Shader/.vs

/Translation/x64
/Translation/Debug
/Translation/.vs

/Texture/x64
/Texture/Debug
/Texture/.vs

/TextureAndTrans/x64
/TextureAndTrans/Debug
/TextureAndTrans/.vs

/jogo_das_cores/Sabertooth-master/.vs
/jogo_das_cores/Sabertooth-master/x64
/jogo_das_cores/Sabertooth-master/Sabertooth/x64
